[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
"delegator.py" = "*"
flask-migrate = "*"
validus = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
